.embla {
  width: 100%;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.embla__slide__number {
  width: 100%;
  height: 100%;
}